<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d2e0ce78-6666-4044-a4d6-95dc7cbdd770/resourceGroups/mybioData_group/providers/Microsoft.Web/sites/mybioData</ResourceId>
    <ResourceGroup>mybioData_group</ResourceGroup>
    <ApiResourceId>/subscriptions/d2e0ce78-6666-4044-a4d6-95dc7cbdd770/resourceGroups/mybioData_group/providers/Microsoft.ApiManagement/service/myBioDataapi/apis/myBioData</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mybiodata.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>424e3607-8dc8-492f-a524-f7ab7d3a1b5c</ProjectGuid>
    <MSDeployServiceURL>mybiodata.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>mybioData</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$mybioData</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>